# Gradle
/.gradle
/build

# Eclipse
/.classpath
/.project
/.settings
/bin
/eclipse

# IntelliJ IDEA
/*.iml
/*.ipr
/*.iws
/.idea
/out

# Debugging
/eclipse
/run

# OS X
.DS_Store
/run

# VSCode
.settings/
.vscode/
bin/
.classpath
.project

# fabric
run/